<!DOCTYPE html>
<html>
{% load staticfiles %} <!-- New line -->
	<head>
		<title>About</title>
	</head>
	
	<body>
		<h1>This page is about you</h1>
		<div>
			<p>yes you, you special snowflake!</p> <br />
			<img src="{% static "images/you.jpg" %}"
			<strong>{{ boldmessage }}</strong><br />
		</div>
		<div>
			<a href="/rango/index.html/">Home</a><br />
			<p>now look at this picture of my dumb cat</p>
			<img src="{% media "cat.jpg" %}"
				alt="Picture of my dumb cat being an idiot" /> <!-- New Line -->
		</div>
	</body>

</html>